<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    {{- if site.Params.darkmode -}}
    <body class="latex-dark text-justify">
    {{- else if site.Params.lightmode -}}
    <body class="text-justify">
    {{- else -}}
    <body class="latex-dark-auto text-justify">
    {{- end -}}
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
