<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  {{- if site.Params.darkmode -}}
  <body class="latex-dark text-justify">
  {{- else if site.Params.lightmode -}}
  <body class="text-justify">
  {{- else -}}
  <body class="latex-dark-auto text-justify">
  {{- end -}}
  
    <div class="page-wrapper">
      {{- partial "header.html" . -}}
      
      <main id="content">
        {{- block "main" . }}{{- end }}
      </main>
      
      {{- partial "footer.html" . -}}
    </div>
  
  </body>
</html>
