{{ if .IsHome }}
  {{ $title := or .Site.Params.homeTitle .Site.Title }}
{{ else }}
  {{ $title := .Title }}
{{ end }}

{{ $title := (cond .IsHome (or .Site.Params.homeTitle .Site.Title) .Title) }}

<header>
  {{ partial "nav.html" . }}
  <div class="intro-header">
    <div class="container">
      <div class="{{ .Type }}-heading">
        <h1>
          {{ if eq .Type "list" }}
            {{ if .Data.Singular }}#{{ end }}{{ .Title }}
          {{ else }}
            {{ with $title }}{{ . }}{{ end }}
          {{ end }}
        </h1>
          <p class="author">{{ .Params.author }}</p>
      </div>
    </div>
  </div>
</header>
