{{ define "main" }}

<p class="hero"><code class="language-bash">{{ .Site.Data.home.hero.title }}</code></p>

<div class="social-links-container">
  {{ $links := .Site.Data.home.social_links }}

  <div class="social-links">
    {{ range $link := $links }}
      <a href="{{ $link.url }}" aria-label="{{ $link.name }}" title="{{ $link.name }}">
        <i class="{{ $link.icon }}"></i>
      </a>
    {{ end }}
  </div>
</div>

<div class="abstract">
  <h4>Abstract</h4>
</div>
  <p>{{ .Site.Data.home.abstract.text | markdownify }}</p>

{{ end }}
